.container {
  width: 300px;
  //height: 200px;
  overflow: hidden;
  margin: 0px 5px 10px 5px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }
}
.icon{
  color: #E2DCCD;
color: -moz-linear-gradient(top, #E2DCCD 0%, #EE7E01 26%, #EEB81A 100%);
color:  -webkit-linear-gradient(top, #E2DCCD 0%, #EE7E01 26%, #EEB81A 100%);
color: linear-gradient(to bottom, #E2DCCD 0%, #EE7E01 26%, #EEB81A 100%);
}
